<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<form action="/app/predict/" method="post">
    {% csrf_token %}
    <label for="city">From city:</label>
    {% if cities %}
    <select id="city" name="city">
        {% for city in cities %}
        <option value="{{ city.id }}">{{ city.display_name }}</option>
        {% endfor %}
    </select>
    {% else %}
    <p>No cities are available.</p>
    {% endif %}

    <br>


    <label for="event">to attent event:</label>
    {% if events %}
    <select id="event" name="event">
        {% for event in events %}
        <option value="{{ event.id }}">{{ event.display_name }}</option>
        {% endfor %}
    </select>
    {% else %}
    <p>No events are available.</p>
    {% endif %}

    <br>
    <input type="submit" value="Give me estimate.">
    <select>
        <option value="optimal_time">I want to save time.</option>
        <option value="optimal_cost">I want to save money.</option>
    </select>
</form>

<script src="js/scripts.js"></script>
</body>
</html>






