<!-- need airports -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
</head>
<body>

<div id="container"></div>
<h3>The optimal route would be:
</h3>

<ul>
    {% for airport in airports %}
    <li> {{ airport.abbrev }} - {{ airport.name }}, cost: ${{ airport.cost }}, delay: {{ airport.delay }} minutes,
        flight duration: {{ airport.duration }} minutes
    </li>
    {% endfor %}
</ul>

</body>

<script>


    var map = Highcharts.maps['countries/us/us-all'];

    var airports = [
        {% for airport in airports %}
        {
                "abbrev": "{{ airport.abbrev }}",
                "name": "{{ airport.name }}",
                "city": "{{ airport.city }}",
                "lat": {{ airport.lat }},
                "lon": {{ airport.lon }},
                "z": {{ airport.z }},
                "visit_order": {{ airport.visit_order }},
                  "cost": {{ airport.cost }},
                  "delay": {{ airport.delay }},
                  "duration": {{ airport.duration }}
        },
        {% endfor %}
    ];

    var chart = Highcharts.mapChart('container', {
        title: {
            text: 'Flight Routes'
        },

        tooltip: {
            pointFormat: '{point.name} {point.city}<br>' +
                'Lat: {point.lat}<br>' +
                'Lon: {point.lon}<br>'
        },

        xAxis: {
            crosshair: {
                zIndex: 5,
                dashStyle: 'dot',
                snap: false,
                color: 'gray'
            }
        },

        yAxis: {
            crosshair: {
                zIndex: 5,
                dashStyle: 'dot',
                snap: false,
                color: 'gray'
            }
        },

        series: [{
            name: 'Basemap',
            mapData: Highcharts.maps['countries/us/us-all'],
            borderColor: '#606060',
            nullColor: 'rgba(200, 200, 200, 0.2)',
            showInLegend: false
        }, {
            name: 'Separators',
            type: 'mapline',
            data: Highcharts.geojson(map, 'mapline'),
            color: '#101010',
            enableMouseTracking: false,
            showInLegend: false
        }, {
            type: 'mapbubble',
            dataLabels: {
                enabled: true,
                format: '{point.visit_order}: {point.name}, {point.city}'
            },
            name: 'Airports',
            data: airports,
            maxSize: '12%',
            color: Highcharts.getOptions().colors[0]
        }]
    });


    // Display custom label with lat/lon next to crosshairs
    $('#container').mousemove(function (e) {
        var position;
        if (chart) {
            if (!chart.lab) {
                chart.lab = chart.renderer.text('', 0, 0)
                    .attr({
                        zIndex: 5
                    })
                    .css({
                        color: '#505050'
                    })
                    .add();
            }

            e = chart.pointer.normalize(e);
            position = chart.fromPointToLatLon({
                x: chart.xAxis[0].toValue(e.chartX),
                y: chart.yAxis[0].toValue(e.chartY)
            });

            chart.lab.attr({
                x: e.chartX + 5,
                y: e.chartY - 22,
                text: 'Lat: ' + position.lat.toFixed(2) + '<br>Lon: ' + position.lon.toFixed(2)
            });
        }
    });

    $('#container').mouseout(function () {
        if (chart && chart.lab) {
            chart.lab.destroy();
            chart.lab = null;
        }
    });


</script>

</html>